*{margin: 10px}

body{ background-color: black;}


/*Style the Home section (having the app name & the nav bar) to have:

A margin of -1 to the top.left & right.
Bottom padding of 1 or 2 cm
Background color to be a lighter shade of blue magenta */
#home{
    background-color: #483355;
    padding-bottom: 1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -1cm;
    padding-top: 2cm;
    padding-bottom:2cm;
}


/* style the Header section as follows:
Font-size as 30 pixels
Colour to be light purple
Floating to the left
Padding of 2 cms to the left */

header{
    font-size: 30px;
    color: rgb(240,234,235);
    float: left;
    padding-left: 2cm;


}


/*
The Navigation Bar Container as:
Floating to the right
Padding of 1 cm to the right */

.topdiv{
    float: left;
    padding-right: 1cm;
}



/*
The Navigation Bar Buttons can have static styling as :
A light gray color
Background color as dark purple.
Margin & padding of 10 pixels each. A border radius of 1mm.
Font size as 20 pixels
Optional text decoration */

.topmenu {
    color: lightgray;
    background-color: #483355;
    
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
}


/*
The Navigation Bar Buttons can have the below on-hover style:
Color as white
Bolder font weight
Background colour as purple
Optional text decoration */


.topmenu:hover{

    color: white;
    font-weight: border;
    background-color: purple;
    text-decoration: underline;
}

/*The 3 conversion sections of the calculator will now be styled:
a. All the sections should have the below styling:

Items are aligned vertically and positioned at the center.
Grid-based layout
b. The figure tag can be styled as follows:

Float to the left
Alignment (justification) can be automatic
Width as 200 pixels
c. The image tag can have a width of 200 pixels.

d. The figcaption tag should:

Have a black color
Font size as 17 pixels
Text aligned to the centre
e. The conversion buttons can have static styling as:

Font size of 20px
A transparent border with border-radius as 40px and the content fitting the page width
Background-color as light green
Left and right padding as 15px each
f. The conversion button should have on-hover styling of changing the mouse appearance from an arrow to a pointer

Click to see the content of style.css

*/

#all-conversion-sections{
    display: grid;
    justify-content: center;
}

figure{
    float: left;
    justify-self: auto;
    width: 200px;
}

img{
    width: 200px;
}

figcaption{

    color: black;
    font-size: 17px;
    text-align: center;

}

button {
    font-size : 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173,218,173);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px
}


/*
10. The calculator panel will now be styled:
a. The elements in bold b class will have:

Border top style as solid & border top width as 20px, border radius as 10px
Background-color as white, Width as 600px, height as 400px
Top and bottom margins as 25 pixels
Flexible box display
b. The temparature class can have the top border color as green.

c. The weight class can have top border colour as coral.

d. The distance class can have top border colour as cyan.

e. The legend tag can have font-size as 30px with a bolder font-weight.

f. The panel can have an overall left margin of 50px. */


.b{
    border-top-style: solid;
    background-color : white;
    border-top-width: 20px;
    width : 600px;
    height: 400px;
    border-radius : 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display : flex;

}

.temperature{
    border-top-color: coral;
}


.weight{
    border-top-color: coral;
}
.distance{
    border-top-color: cyan;
}
legend {
    font-size: 30px;
    font-weight: bolder;
}


/* 
11. The floating home button will now be styled.
a. The button icon can:

Have width and height as 40px each
Items aligned and justified to the center
Border radius as 100% and background colour as cyan
Flexible box display
The icon should be fixed and not move with scrolling. It can be at the extreme left and 40 pixels from the bottom of the page
b. The image for the icon button can have a width of 30 px.

The footer tag can have:
The background colour as light pink & top margin as 20px.
Save the changes made so far. */

.iconbutton{

    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(225,235,235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 0;
}

.iconbutton img {
    width: 30px
}

footer {
    background-color: lightpink;
    margin-top: 20px;
}